body {
    background: black url(http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg);
    animation: stars 205s linear alternate;
}

@keyframes movimiento {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 355px 0
    }
}

@keyframes stars {
    0% {
        background-position: 0 0px
    }
    100% {
        background-position: 0 100%
    }
}

/* 모바일 장치에 대한 스타일 */
@media (max-width: 768px) {
  body {
    /* 임의의 특정 위치에서 시작하도록 초기값 설정 */
    /*background-position: center center; !* 원하는 초기 위치 설정 *!*/
    animation: stars-mobile 205s linear alternate;
    /*animation: none;*/
  }


}

@keyframes stars-mobile {
    0% { background-position: center top }
    100% { background-position: 50px 200%; }
  }
