
body, html {
    margin: 0;
    padding: 0;
}

.frameContainer {

}

.text-controll {
    margin-top: 15px;
    font-size: 17px;
}

.summary-scroll {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* 타임라인 밑 줄 제거 */
a {
    text-decoration: none;
    color: #307AE9;
}

/* 타임라인 선택 시 파란색 밑줄 표시 */
a:hover, a:focus {
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
}

.container {
    position: sticky;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-fixed-size {
    width: 55px;
    height: 30px;
    font-size: 13px;
    float: left;
}

.memo-container {
    max-width: calc(100% - 65px); /* 버튼 너비(55px) + 여백(10px) 만큼을 제외한 영역 */
    overflow: hidden; /* 넘치는 텍스트를 감춤 */
}


.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #196EF7;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.pen1-floating-btn {
    display: none;
    position: fixed;
    bottom: 77px;
    right: 28px;
    background-color: white;
    color: #196EF7;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: url(templates/img/pencilCur.png), auto;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.pen2-floating-btn {
    position: fixed;
    display: none;
    bottom: 120px;
    right: 28px;
    background-color: white;
    color: #196EF7;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: url(templates/img/eraserCur.png), auto;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.floating-btn:hover {
    background-color: #155ED2;
}

.eraser-btn {
    position: fixed;
    display: none;
    bottom: 163px;
    right: 28px;
    background-color: white;
    color: #196EF7;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.eraserAll-btn {
    position: fixed;
    display: none;
    bottom: 206px;
    right: 28px;
    background-color: white;
    color: #196EF7;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
}

.slider-hide {
    display: none;
}

.slider-show {
    display: block;
}

#eraser-controls {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

texterea {
    color: black;
}


/*{# 버튼 애니메이션 #}*/
.showP {
    display: flex !important;
    opacity: 1;
    transform: translateY(0);
}

/*{# 버튼 애니메이션 #}*/
.hide {
    opacity: 0;
    transform: translateY(10px);
}

/*{# 버튼 애니메이션 #}*/
.hidden {
    display: none;
}

/*{# 색 고르는 팔레트 사이즈 #}*/
#color-palette {
    position: fixed;
    top: 80%;
    left: 80%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/*{# 캔버스 사이즈 #}*/
#drawing-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}

/*
#tab-content-container {
    min-height: 400px;
    max-height: 400px;
    !*overflow-y: auto;*!
}
*/

#memo-tab {
    display: block;
}

#memo-card-body {
    display: none;
}


#dataList {
    margin: 0;
    padding: 0;
    list-style: none;
}
