{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Capstone</title>
        <style>
            .signup-form {
                max-width: 700px;
                margin: 0 auto;
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
    <form method="post" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="row g-3">
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">이름</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}" required>
                <div class="valid-feedback">
                    사용 가능한 이름입니다
                </div>
            </div>

            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}" required>
            </div>
            <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" name="password1" id="password1"
                       value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Check Password</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       value="{{ form.password2.value|default_if_none:'' }}">
            </div>
{#            <div class="col-12">#}
{#                <div class="form-check">#}
{#                    <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"#}
{#                           aria-describedby="invalidCheck3Feedback" required>#}
{#                    <label class="form-check-label" for="invalidCheck3">#}
{#                        약관동의#}
{#                    </label>#}
{#                    <div id="invalidCheck3Feedback" class="invalid-feedback">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">회원가입</button>
        </div>
    </form>
    </body>
{#    <script>#}
{#        document.addEventListener("DOMContentLoaded", function () {#}
{#            const inputs = document.querySelectorAll('.form-control');#}
{#            const selectState = document.getElementById('validationServer04');#}
{#            const stateFeedback = document.getElementById('validationServer04Feedback');#}
{#            const form = document.getElementById('signup-form');#}
{#            form.addEventListener('submit', function (event) {#}
{#                if (!form.checkValidity()) {#}
{#                    event.preventDefault(); // 폼 제출 방지#}
{#                    event.stopPropagation(); // 부모 요소로의 이벤트 전파 중단#}
{#                    form.action = '/login';#}
{#                    form.submit;#}
{#                }#}
{#                form.classList.add('was-validated');#}
{#            });#}
{##}
{#            inputs.forEach(input => {#}
{#                input.addEventListener('input', function () {#}
{#                    if (input.checkValidity()) {#}
{#                        input.classList.remove('is-invalid');#}
{#                        input.classList.add('is-valid');#}
{#                    } else {#}
{#                        input.classList.remove('is-valid');#}
{#                        input.classList.add('is-invalid');#}
{#                    }#}
{#                });#}
{#            });#}
{##}
{#            selectState.addEventListener('change', function () {#}
{#                if (selectState.checkValidity()) {#}
{#                    selectState.classList.remove('is-invalid');#}
{#                    stateFeedback.style.display = 'none';#}
{#                } else {#}
{#                    selectState.classList.add('is-invalid');#}
{#                    stateFeedback.style.display = 'block';#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
    </html>
{% endblock %}