{#{% extends "base.html" %}#}
{#{% block content %}#}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
{% include "navbar.html" %}

<head>
    <meta charset="UTF-8">

    <title>회원정보수정페이지</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        .centered-form {
            min-height: 100vh; /* Viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            max-width: 500px;
            width: 100%;
            padding: 20px;
            border-radius: 8px;

        }

        .link-right {
            display: flex;
            justify-content: flex-end;
        }
    </style>

</head>
<body>
<div class="container centered-form">
    <div class="form-container">
        <h1 class="text-center">회원정보수정</h1>
        <form method="post" action="{% url 'common:update' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">이메일:</label>
                <input type="email" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">이름:</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}" required>
                <div class="link-right">
                    <a href="{% url 'update_password' user_id=user.id %}">비밀번호 변경하기</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">변경</button>
        </form>
    </div>
</div>
</body>
</html>
<script src="{% static 'js/theme.js' %}"></script>
{#{% endblock %}#}
