<html lang="ko">
{% if form.errors %}
<div class="toast-container position-absolute top-0 end-0 p-3">
    <div class="toast " role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
        <div class="toast-header bg-danger-subtle">
            <strong class="me-auto">오류 !</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
{#                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>#}
            {% endif %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl);
    });
    toastList.forEach(toast => toast.show());
</script>
{% endif %}
