<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body, html{
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
        }
        #frameContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            margin-top: 20%;
            padding-left: -40%;
        }
        #youtubeFrame{
            height: 630px;
            width: 1120px;
        }
    </style>
</head>
<body>
<div id = "frameContainer">
    {% if youtube_link %}
        {% autoescape off %} {{ youtube_link }}  {% endautoescape %}
        {#<iframe id="youtubeFrame" src="{{ youtube_link }}" allowfullscreen></iframe>#}
    {% else %}
        <p>유튜브 링크를 입력하세요.</p>
    {% endif %}
</div>
</body>
</html>