<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{csrf_token}}'}
        });
    </script>


    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }

        .frameContainer {

        }

        .text-controll {
            margin-top: 15px;
            font-size: 17px;
        }

        .summary-scroll {
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
        }


        /* 타임라인 밑 줄 제거 */
        a {
            text-decoration: none;
            color: #307AE9;
        }

        /* 타임라인 선택 시 파란색 밑줄 표시 */
        a:hover, a:focus {
            font-weight: bold;
            text-decoration: underline;
            color: #ffffff;
        }

        .container {
            position: sticky;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }


    </style>
</head>
<body>
{% include "navbar.html" %}
{% load markdownify %}

<!-- 메모 추가 모달
위치 옮기면 안돼요ㅠㅠㅠㅠㅠㅠㅠㅠ -->
<div class="modal fade" id="memoModal" tabindex="-1" aria-labelledby="memoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="memoModalLabel">알림</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>메모가 추가되었습니다</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <div class="frameContainer">
                {% if youtube_link %}
                    <div id="player"></div>
                {% else %}
                    <p>유튜브 링크를 입력하세요.</p>
                {% endif %}
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#memo-tab" data-bs-toggle="tab">메모</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="loadData" href="#memo-list-tab" data-bs-toggle="tab">메모 보기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="deleteData" href="#memo-list-tab" data-bs-toggle="tab">메모 삭제</a>
                        </li>
                    </ul>
                </div>
                {#                {% include "memo.html" %}#}
                <div class="card-body">
                    <form method="post" action="{% url 'memo' %}">
                        {% csrf_token %}
                        <!--메모 입력-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="memo-tab">
                                <textarea id="memo-text" name="text" class="form-control mt-3" rows="3"></textarea>
                                <!--<textarea id="memo-text" name="time" class="form-control mt-3" rows="3"></textarea>-->
                                {#                                <button  class="btn btn-primary mt-2" type="submit">메모 추가</button>#}
                                <button class="btn btn-primary mt-2" data-bs-toggle="modal"
                                        data-bs-target="#memoModal" type="submit">메모 추가
                                </button>

                            </div>
                            <div class="tab-pane fade" id="memo-list-tab">
                                <!--메모 리스트-->
                                <div id="memo-list">
                                    <ul id="dataList"></ul>
                                </div>
                            </div>


                        </div>
                    </form>
                                    <!-- changed -->
                    <div class="my-3">
                            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                               data-uri = "{% url 'delete_memo' %}">삭제</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="accordion" id="scriptText">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong>스크립트 전체 보기</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#scriptText">
                        <div class="accordion-body p-md-2-">

                            <div class="box-controll">
                                <div class="summary-scroll">
                                    {% for item in data %}
                                        <div class="row align-items-center">
                                            <div class="col-2">
                                                <a class="btn btn-primary btn-sm" style="width: 55px" href="#"
                                                   role="button"
                                                   onclick="moveTime({{ item.start }});">{{ item.minutes|stringformat:"02d" }}:{{ item.seconds|stringformat:"02d" }}</a>
                                            </div>
                                            <div class="text-controll col ms-1 mt-n1">
                                                <p> {{ item.text }}</p>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>요약내용</strong>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#scriptText">
                            <div class="accordion-body">
                                <div class="summary-scroll">
                                    {#                                    <strong>요약내용</strong>#}
                                    {#                                    {% for i in data %}#}
                                    {{ script|markdownify }}
                                    {#                                       {% autoescape off %} {{ script }} {% endautoescape %}#}
                                    <br>
                                    {#                                    {% endfor %}#}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    타임라인, 소제목 #3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#scriptText">
                                <div class="accordion-body">
                                    <div class="summary-scroll">
                                        <strong>요약내용</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md">
                        <form id="youtubeForm" action="/index2/" method="GET"> {# 유튜브 링크 #}
                            <div class="text-center mb-3">
                                <input id="youtubeLink" type="text" class="form-control" name="youtube_link"
                                       style="width:300px" placeholder="여기에 입력하세요...">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">제출</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    <!-- Js_Start -->
    // % block script %}
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '360',
            width: '100%',
            videoId: '{{ youtube_link }}',
            events: {
                'onReady': onPlayerReady,
            },

        });
    }

    var num = 0;

    function setNum(num) {
        this.num = num;
        onPlayerReady()
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        //event.target.seekTo(20 , true)
    }


    function moveTime(time) {
        if (player) {
            player.seekTo(time, true);
        }
        {#this.num = num;#}
        //event.target.seekTo(num, true)
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;

    document.addEventListener("DOMContentLoaded", function () {
        const addMemoButton = document.getElementById("add-memo"); // id가 "add-memo"인 요소를 찾아 'addMomoButton'에 할당 <<-- 메모 추가 버튼
        const memoListLink = document.querySelector('.nav-tabs .nav-item:nth-child(2) .nav-link'); // 메모 보기 탭 보기
        const memoList = document.getElementById("memo-list"); // id가 "memo-list"인 요소를 찾아 'memolist'에 할당
        const memoItems = document.getElementById("memo-items"); // 메모 목록에 들어가는 아이템이 들어가는 리스트


        //메모 추가 버튼 클릭 시 동작
        addMemoButton.addEventListener("click", function () {
            const memoText = document.getElementById("memo-text").value.trim(); // 메모 내용을 'memoText' 변수에 할당
            //const memoTime = document.getElementById("memo-time").value.trim(); // 메모 내용을 'memoTime' 변수에 할당
            if (memoText !== "") {
                const memoItem = document.createElement("li"); // 새 리스트 생성
                //const memoTimeItem = document.createElement("li"); // 시간 리스트 생성.
                const tempSeconds = player.getCurrentTime(); // 현재 시간 가져오기 
                const memoSeconds = changeSeconds(tempSeconds);

                memoItem.textContent = memoText + "\t" + memoSeconds;
                memoItem.className = "list-group-item";
                memoItems.appendChild(memoItem); // 리스트에 append
                document.getElementById("memo-text").value = "";

                {#$('#memoModal').modal('show'); //모달 창 띄우기#}

                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/add_memo/", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        // 성공적으로 메모가 추가되었을 때의 처리
                        // $('#memoModal').modal('show'); // 모달 창 띄우기
                    }
                };
            }
        });



        // 초를 분으로 변경하는 함수
        function changeSeconds(seconds) {
            if (seconds < 61) {
                return '00:' + addZero(seconds)
            }
            // sec
            var hours = Math.floor(seconds / 3600)
            var mins = Math.floor((seconds - hours * 3600) / 60)
            var secs = Math.floor(seconds % 60)
            return addZero(hours) + ':' + addZero(mins) + ':' + addZero(secs)

            function addZero(num) {
                return ((num < 10) ? '0' : '') + num
            }
        }

        memoListLink.addEventListener("click", function () {
            memoList.style.display = "block";
        });

        // 모달 설정 1
        window.addEventListener("click", function (event) {
            const memoModal = document.getElementById("memoModal");
            if (event.target === memoModal) {
                $('#memoModal').modal('hide');
            }
        });

        // 모달 설정 2
        $('#memoModal').on('shown.bs.modal', function () {
            $(document.body).addClass('modal-open');
        });

        // 모달 설정 3
        $('#memoModal').on('hidden.bs.modal', function () {
            $(document.body).removeClass('modal-open');
        });

        // 모달 설정 4
        $('#memoModal').on('click', function (event) {
            event.stopPropagation();
        });
    });


    $(document).ready(function () {
        $("#loadData").click(function () {
            $.ajax({
                url: '/my-ajax-url/', // 요청을 보낼 서버의 URL
                type: 'get', // HTTP 메소드
                dataType: 'json', // 응답 데이터 타입
                success: function (response) {
                    // 응답으로 받은 items 리스트를 순회하면서 각 항목을 ul 태그에 추가
                    $('#dataList').empty(); // 기존 리스트를 비우고 시작
                    $.each(response.items, function (i, item) {
                        $('#dataList').append($('<li>').text(item.text));
                    });
                    console.log("good!")
                }
            });
        });
    });

    $(document).ready(function () {
        $('#memo-list').click(function () {
            location.href = "../memo-list";
        })
        $('#btn_delete').click(function () {
            location.href = "../delete_form/?id=" + $('#id').val();
        })
    });
        <!-- 자바스크립트 End -->
        // % endblock %}

</script>

</body>
</html>