{#<div class="card-body">#}
{#    <form method="post" action="{% url 'memo' %}">#}
{#        {% csrf_token %}#}
{#        <!--메모 입력-->#}
{#        <div class="tab-content">#}
{#            <div class="tab-pane fade show active" id="memo-tab">#}
{#                <textarea id="memo-text" name="text" class="form-control mt-3" rows="3"></textarea>#}
                {#                                <button  class="btn btn-primary mt-2" type="submit">메모 추가</button>#}
{#                <button class="btn btn-primary mt-2" data-bs-toggle="modal"#}
{#                        data-bs-target="#memoModal" type="submit">메모 추가#}
{#                </button>#}
{#            </div>#}
{#            <div class="tab-pane fade" id="memo-list-tab">#}
{#                <!--메모 리스트-->#}
{#                <div id="memo-list">#}
{#                    <ul id="memo-items" class="list-group"></ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#</div>#}
<script>
    history.back();
</script>