{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
        {#        <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>#}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'main_page' %}">
                            Sunrize AI
                        </a>
                    </li>
                {% else %}

                {% endif %}
            </ul>
        </div>

        <div>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://hamsm.notion.site/d8754b233a9a4d8a8aeacd738a5d5e47?pvs=4">프로젝트
                            소개</a>
                    </li>


                </ul>
            </div>
        </div>


        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="{% url 'common:update' %}">정보 수정</a>#}
                    {#                    </li>#}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false"><i class="fa-regular fa-user"></i>
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'common:update' %}"><i
                                    class="fa-solid fa-user-pen"></i> 정보 수정</a></li>
                            <li><a class="dropdown-item text-danger" href="{% url "common:logout" %}"><i
                                    class="fa-solid fa-right-from-bracket"></i> 로그아웃</a></li>
                        </ul>
                    </li>


                </ul>
                {#                {% else %}#}
                {##}
                {#                    <div>#}
                {#                        <div class="ms-2collapse navbar-collapse justify-content-end" id="navbarSupportedContent">#}
                {#                            <i id="mode-icon" style="font-size: 18px; cursor: pointer;" class="bi bi-sun"></i>#}
                {#                        </div>#}
                {#                    </div>#}

            {% endif %}
        </div>

        <div>
            <div class="ms-2collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <i id="mode-icon" style="font-size: 18px; cursor: pointer;" class="bi bi-sun"></i>
            </div>
        </div>

    </div>

</nav>


