{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent  border-bottom"">
    <div class="container-fluid">
        {#        <a class="navbar-brand" href="{% url 'pybo:index' %}">Pybo</a>#}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'main_page' %}">
                             Capstone
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign_up">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">프로젝트 소개</a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="{% url 'common:update' %}">정보 수정</a>#}
                    {#                    </li>#}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false"><i class="fa-regular fa-user"></i>
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item text-danger" href="{% url "common:logout" %}"><i
                                    class="fa-solid fa-right-from-bracket"></i> 로그아웃</a></li>
                            <li><a class="dropdown-item" href="{% url 'common:update' %}"><i
                                    class="fa-solid fa-user-pen"></i> 정보 수정</a></li>
                            {#                            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
                        </ul>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign_up">회원가입</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
